# ------------------------------
# Python
# ------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/
.cache/
.pytest_cache/
.mypy_cache/
.env
.venv/
venv/

# ------------------------------
# Azure Functions
# ------------------------------
local.settings.json
.azure/
bin/
obj/

# ------------------------------
# VS Code
# ------------------------------
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# ------------------------------
# OS / Misc
# ------------------------------
.DS_Store
Thumbs.db
*.log

# ------------------------------
# Node (for Azure Functions Core Tools)
# ------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
